.card-image {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 8px;
    background: url('../estilos-css/pseudo-elementos/my-photo.jpg');  
    background-size: cover;
    position: relative;
    overflow: hidden;
}


.card-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(255, 0, 140));
}