
body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked +label {
    text-decoration: line-through;
}

article :first-of-type {
    color: orange;
}

article :last-of-type {
    color: blue;
}
