button {
    background-color: palevioletred;
    border: none;
    padding: 8px 14px;
    color: white;
}

button:hover {
    background-color: palegreen;
    color: darkgreen;
}

button:active {
    background-color: purple;
    color: white;
}

a:active {
    background-color: pink;
    color: black;
}

h1:active {
    background-color: greenyellow;
    
}