
body   {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

/*
.post h2,
.post li,
.post .red {
    color: red;
}
    */

.post :where(h2, li, .red) {
    color: blue;
}


section p,
article p,
aisde p,
nav p {
    background-color: pink;
    font-weight: bold;
}


:where(section, article, aside, nav) p {
    background-color: goldenrod;
    font-weight: bold;
}
