body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 100px;
    perspective-origin:top default; ;
}


.box {
    background: linear-gradient(90deg, #e75e0f21 0%, #3f5efb 100%);
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transform: rotateY(30deg);
}


