body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

li:nth-last-child(odd) {
    font-weight: bold;
    color: orangered; 
}

dd:nth-last-of-type(3n) {
    color: green;
}