body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

i, em {
    display: block;
}

main :only-of-type {
    color: red;
}