body {
    font-family:  Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

div {
    height: 16px;
    background-color: palegreen;
}

#elemento-content::before {
    content: "!!!!!!!!!!!!!";
}