
body   {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.post p:not(.irrelevante) {
    color: red;
}

li:not(:first-of-type):not(:last-of-type) {
    font-weight: bold;
}
img:not([alt]) {
    border: 3px solid red;
}
